body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
section {
  height: 500px;
  padding-bottom: 50px;
}

section div { align-items: center;}
 


h2 {
  font-size: 30px;
}
.orange-highlight{
  color: orange;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 3%;
padding-left: 2%;

}
.half-width img {
  width: 80%;
 
}
p {
  font-size: 18px;
  line-height: 1.6;
  color: dimgray;

}

.top-section {
  background-image: url("images/top-banner.png");
  background-size: cover;

  background-repeat: no-repeat;
  
}



.second-section {
  background-image: url("images/dream-bg.png");
  height: 500px;
  background-position: right;
  background-repeat: no-repeat;
}

.link-button {
  display: inline-block;
  padding: 10px 20px;
  background-image: linear-gradient(to right, #ffda09, #ffb300);
  background-color: #ffda09;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  color: black;
  font-weight: bold;
}
.single-experience{
  box-shadow: gray 0px 0px 10px;
  border-radius: 10px;
  height: 80%;
  margin-top: 20px;
}

.third-section {
  background-image: url("images/exp-bg.png");
 background-repeat: no-repeat;
  background-position: left;
}
#html-experience {
  border-left: 7px solid ;
  border-image: linear-gradient(to bottom, #ffc013, #ffb300) 1;
  border-image: slice 1;
  background-color: white;
}
.third-section .experience {
  margin-left: 60px;
  
}
#flexbox-border{
  border-left: 7px solid ;
  border-image: linear-gradient(to bottom, #1879f7, #370aff) 1;
  border-image: slice 1;
  background-color: white;
}


footer p{
  background-color: #f1f1f1;
  text-align: center;
  padding: 20px;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
}